<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="v01.00" package="eu.platenburg.esbevents">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="ESB Events" android:icon="@drawable/dxc_120"></application>
</manifest>